# Q.1
1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [32]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [33]:
driver = webdriver.Chrome()

In [34]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [35]:
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [38]:
driver.execute_script("window.scrollTo(0, 1000)")

In [40]:
details=[]
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td"):
    details.append(i.text.replace("\n"," "))
details[0:6]

['"Baby Shark Dance"[6]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '1600']

In [42]:
rank=[]
name=[]
artist=[]
views=[]
upload=[]
count =0
while count<int(len(details)):
    rank.append(details[count])
    name.append(details[count+1])
    artist.append(details[count+2])
    views.append(details[count+3])
    upload.append(details[count+4])
    count=count+6 
print(rank[0:4])
print(name[0:4])
print(artist[0:4])
print(views[0:4])
print(upload[0:4])

['"Baby Shark Dance"[6]', '1,076', '2,993,700,000', '[10]']
["Pinkfong Baby Shark - Kids' Songs & Stories", '', 'January 12, 2017', '[B]']
['7,046,700,000', '', 'August 4, 2017', '"See You Again"[22]']
['June 17, 2016', '', '206', 'Wiz Khalifa']
['November 2, 2020', '"Despacito"[9]', '1,186', '2,894,000,000']

In [43]:
df=pd.DataFrame({})
df["Rank"]=rank
df["Name"]=name
df["Artist"]=artist
df['Upload date']=upload
df['Views']=views
df

,Rank,Name,Artist,Upload date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
1,"1,076",,,"""Despacito""[9]",
2,"2,993,700,000","January 12, 2017","August 4, 2017","1,186",206
3,[10],[B],"""See You Again""[22]","2,894,000,000",Wiz Khalifa
4,"July 10, 2017",826,25,[23],
5,"""Gangnam Style""⁂[31]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
6,"1,689",,[32],"""Baby""*[66]",[E]
7,"245,400,000","February 19, 2010","July 16, 2010",862,149
8,[67],[F],"""Bad Romance""[70]","178,400,000",Lady Gaga
9,"April 14, 2010",143,93,[71],
10,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
11,171,late July 2021[75],[76],"""Evolution of Dance""[77]",
12,"118,900,000","April 6, 2006","May 2, 2009",176,1062
13,[78],,"""Girlfriend""‡[79][80]","92,600,000",RCA Records
14,"July 17, 2008",508,289,[82],November 2009[81]
15,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
16,124,,[84],"""Music Is My Hot Hot Sex""‡[85]",
17,"76,600,000","April 9, 2007","March 1, 2008",14,327
18,[87],[I],"""Evolution of Dance""*[77]","10,600,000",Judson Laipply
19,"May 19, 2006",16,652,[89],
20,"""Pokémon Theme Music Video""‡[90]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
21,68,June 2007[91],[92],"""Myspace – The Movie""‡[95][96]",[K]
22,"2,700,000","January 31, 2006","February 18, 2006",22,18
23,[98],,"""Phony Photo Booth""‡[99]","3,400,000",mugenized
24,"January 21, 2006",50,28,[101],"February 14 to 18, 2006[100]"
25,"""The Chronic of Narnia Rap""‡[105]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
26,12,"February 14 to 17, 2006[106]",[107],"""Ronaldinho: Touch of Gold""‡*[108]",
27,"255,000","October 21, 2005","October 31, 2005",70,10
28,[110],[M],"""I/O Brush""‡*[114]","247,000",larfus
29,"October 29, 2005",24,2,[116],January to April 2007[115]

In [44]:
driver.close()

# Q.2
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [58]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [59]:
driver = webdriver.Chrome()

In [60]:
driver.get("https://www.bcci.tv/")

In [62]:
fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
fixtures.click()

In [67]:
Series = []
Place = []
Date = []
Time = []

In [75]:
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series[0:10]:
    Series.append(i.text)

In [82]:
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)

In [88]:
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')  #Only date
for i in date:
    Date.append(i.text)

In [90]:
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)

In [97]:
df=pd.DataFrame({})
df["Series"]=Series[0:10]
df["Place"]=Place[0:10]
df["Date"]=Date[0:10]
df["Time"]=Time[0:10]
df

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 202322 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 202329 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai","2 NOVEMBER, 20232 NOVEMBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata","5 NOVEMBER, 20235 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru","12 NOVEMBER, 202312 NOVEMBER, 2023",2:00 PM IST
5,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","13 NOVEMBER, 202313 NOVEMBER, 2023",9:00 AM IST
6,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","13 NOVEMBER, 202313 NOVEMBER, 2023",9:00 AM IST
7,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","15 NOVEMBER, 202315 NOVEMBER, 2023",9:00 AM IST
8,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","15 NOVEMBER, 202315 NOVEMBER, 2023",9:00 AM IST
9,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","17 NOVEMBER, 202317 NOVEMBER, 2023",9:00 AM IST

In [98]:
driver.close()

# Q.3
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [129]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests
from selenium.webdriver.common.by import By

In [130]:
driver = webdriver.Chrome()

In [131]:
driver.get('http://statisticstimes.com/')

In [132]:
economy = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [133]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
try:
    gdp.click()
except ElementNoInteractableException:
    driver.get(gdp.get_attribute('href'))

In [134]:
Rank = []
State = []
GSDP19_20 =[]
GSDP18_19 = []
Share18_19 = []
GDP =  []

In [135]:
try:
    rank = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

In [136]:
try:
    state = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')

In [137]:
try:
    gsdp19_20 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp19_20:
        GSDP19_20.append(i.text)
except NoSuchElementException:
    GSDP19_20.append('NA')

In [138]:
try:
    gsdp18_19 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp18_19:
        GSDP18_19.append(i.text)
except NoSuchElementException:
    GSDP18_19.append('NA')

In [139]:
try:
    share18_19 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share18_19:
        Share18_19.append(i.text)
except NoSuchElementException:
    Share18_19.append('NA')

In [140]:
try:
    gdp = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [141]:
GDP_data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP19_20,'GSDP(18-19)':GSDP18_19,'Share(18-19)':Share18_19,
                      'GDP($ billion)':GDP})
GDP_data

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [143]:
driver.close()

# Q.4
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [171]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [172]:
driver = webdriver.Chrome()

In [173]:
driver.get('https://github.com/')

In [174]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div/div/main/div/div/div/feed-container/div[5]/turbo-frame/article[3]/div/div/div[1]/header/a')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [175]:
Rep_title = []
Rep_desc = []
Count = []
Language = []

In [176]:
title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title:
    Rep_title.append(i.text)

In [177]:
desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    Rep_desc.append(i.text)

In [178]:
cont = driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')
for i in cont:
    Count.append(i.text)

In [179]:
lang = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang:
    Language.append(i.text)

In [180]:
github=pd.DataFrame({})
github['Repository title']=Rep_title[:20]
github['Description']=Rep_desc[:20]
github['Contributors count']=Count[:20]
github['Language used']=Language[:20]
github

,Repository title,Description,Contributors count,Language used
0,PWhiddy / PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,889 stars today,Jupyter Notebook
1,spdustin / ChatGPT-AutoExpert,🚀🧠💬 Supercharged Custom Instructions for ChatG...,"1,356 stars today",Python
2,omnivore-app / omnivore,"Omnivore is a complete, open source read-it-la...",327 stars today,HTML
3,hustvl / 4DGaussians,4D Gaussian Splatting for Real-Time Dynamic Sc...,221 stars today,Python
4,doocs / leetcode,🔥LeetCode solutions in any programming languag...,179 stars today,Java
5,FreeTubeApp / FreeTube,An Open Source YouTube app for privacy,469 stars today,JavaScript
6,geekan / MetaGPT,🌟 The Multi-Agent Framework: Given one line Re...,453 stars today,Python
7,huggingface / text-embeddings-inference,A blazing fast inference solution for text emb...,176 stars today,Rust
8,cpacker / MemGPT,Teaching LLMs memory management for unbounded ...,"1,085 stars today",Python
9,pi-hole / pi-hole,A black hole for Internet advertisements,218 stars today,Shell
10,Orange-Cyberdefense / GOAD,game of active directory,128 stars today,PowerShell
11,Sangwan5688 / BlackHole,A Music Player App made with Flutter,74 stars today,Dart
12,nokyan / resources,Monitor your system resources and processes,42 stars today,Rust
13,microsoft / autogen,Enable Next-Gen Large Language Model Applicati...,772 stars today,Jupyter Notebook
14,formbricks / formbricks,Open Source Surveys & Experience Management So...,199 stars today,TypeScript
15,itrewub / jh-notes,Learn Python from DevOps Engineer point of you.,8 stars today,JavaScript
16,iam-veeramalla / python-for-devops,"Removes The ""Ad blocker are not allowed on You...",91 stars today,TypeScript
17,TheRealJoelmatic / RemoveAdblockThing,Scheduling infrastructure for absolutely every...,141 stars today,Lua
18,calcom / cal.com,Neovim config for the lazy,182 stars today,C
19,LazyVim / LazyVim,Embedded graphics library to create beautiful ...,145 stars today,TypeScript

In [181]:
driver.close()

# Q.5
Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.billboard.com/')

In [5]:
hot_100 = driver.find_element(By.XPATH,'//ul[@class="o-nav__list lrv-a-unstyle-list"]/li[1]')

In [6]:
Name = []
Artist = []
lastweek_rank = []
Rank = []

In [7]:
name_tag = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in name_tag:
    Name.append(i.text)

In [8]:
artist = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist:
    Artist.append(i.text)

In [15]:
week_rank = driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
for i in week_rank:
    lastweek_rank.append(i.text)

In [16]:
lastweek_rank

['-', '1', '1', '', '', '']

In [10]:
rank = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey"]')
for i in rank:
    Rank.append(i.text)

In [19]:
songs_top=pd.DataFrame({"Rank":Rank[0:99],"Name":Name[:99],"Artist":Artist[:99]})
songs_top

   Rank                 Name                               Artist
0     1                IDGAF                 Drake Featuring Yeat
1     2       Virginia Beach                                Drake
2     3   Paint The Town Red                             Doja Cat
3     4      Calling For You            Drake Featuring 21 Savage
4     5        Slime You Out                  Drake Featuring SZA
..  ...                  ...                                  ...
94   95   God Gave Me A Girl                    Russell Dickerson
95   96              Y Lloro                             Junior H
96   97          Telekinesis  Travis Scott Featuring SZA & Future
97   98                Seven            Jung Kook Featuring Latto
98   99  Stars Like Confetti                         Dustin Lynch

[99 rows x 3 columns]

In [20]:
driver.close()

# Q.6
Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [235]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [236]:
driver = webdriver.Chrome()

In [237]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [238]:
Book_name = []
Author = []
Volume = []
Publisher = []
Genre = []

In [239]:
try:
    b_name = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in b_name:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('NA')

In [242]:
try:
    author = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author('NA')

In [243]:
try:
    volume = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume:
        Volume.append(i.text)
except NoSuchElementException:
    Volume.append('NA')

In [244]:
try:
    publisher = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')

In [245]:
try:
    genre = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [246]:
Highest_selling_novels=pd.DataFrame({'Book Name':Book_name,'Author Name':Author,'Volumes sold':Volume,'Publisher':Publisher,'Genre':Genre})
Highest_selling_novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [247]:
driver.close()

# Q.7
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [258]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [259]:
driver = webdriver.Chrome()

In [260]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [261]:
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [257]:
print(len(Year_Span))

100

In [262]:
try:
    name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementExeption:
    Name.append('NA')

In [263]:
try:
    year_span = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year_span:
        Year_Span.append(i.text)
except NoSuchElementExeption:
    Year_Span.append('NA')

In [264]:
try:
    genre = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementExeption:
    Genre.append('NA')

In [265]:
try:
    run_time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run_time:
        Run_Time.append(i.text)
except NoSuchElementExeption:
    Run_Time.append('NA')

In [266]:
try:
    rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for i in rating:
        Ratings.append(i.text)
except NoSuchElementExeption:
    Ratings.append('NA')

In [267]:
try:
    vote = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in vote:
        Votes.append(i.text)
except NoSuchElementExeption:
    Votes.append('NA')

In [269]:
IMDB_TV = pd.DataFrame({"Name":Name,"Year Span":Year_Span,"Genre":Genre,"Run Time":Run_Time,"Ratings":Ratings,"Votes":Votes})
IMDB_TV

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,243"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,096"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,177"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,598"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,535"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,950"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,024"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,891"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,101"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,818"

In [270]:
driver.close()

# Q.8
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [5]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [6]:
driver = webdriver.Chrome()

In [7]:
driver.get('https://archive.ics.uci.edu/')

In [8]:
dataset = driver.find_element(By.XPATH,'//a[@href="/datasets"]')
dataset.click()

In [9]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [10]:
try:
    names=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in names[0:10]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [11]:
try:
    type1 = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[2]')
    for i in type1[0:10]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('NA')

In [12]:
try:
    task=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[1]')
    for i in task[0:10]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')

In [13]:
try:
    attribute= driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute[0:10]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('NA')

In [14]:
try:
    instance=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[3]')
    for i in instance[0:10]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('NA')

In [15]:
try:
    no_attri=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div/div/div[4]')
    for i in no_attri[0:10]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')

In [16]:
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[0:10]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

In [17]:
UCI=pd.DataFrame([])
UCI['Dataset_Name']=Name[:10]
UCI['Data_Type']=Type[:10]
UCI['Task']=Task[:10]
UCI['No_of_Instances']=No_of_Instance[:10]
UCI['No_of_Attribute']=No_of_Attribute[:10]
UCI

,Dataset_Name,Data_Type,Task,No_of_Instances,No_of_Attribute
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Heart Disease,Multivariate,Classification,303 Instances,13 Features
2,Adult,Multivariate,Classification,48.84K Instances,14 Features
3,Wine,Tabular,Classification,178 Instances,13 Features
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
5,Diabetes,,,,20 Features
6,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
7,Car Evaluation,Multivariate,Classification,1.73K Instances,6 Features
8,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,8 Features
9,Mushroom,Multivariate,Classification,8.12K Instances,22 Features

In [18]:
driver.close()